/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v22-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v22-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/poppins-v22-latin-500italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v22-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v22-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

html {
  height: 100%;
}

h1 {
  margin: 0;
}

img {
  display: flex;
  object-fit: cover;
}

a {
  text-decoration: none;
  display: inline;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100%;
  width: 1440px;
  color: #ffff;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  background-image: url(../images/main-bg.svg);
  background-color: #ff7979;
}

main {
  flex-grow: 1;
}

.container {
}

.content {
  display: flex;
  padding-left: 165px;
  align-items: center;
  justify-content: center;
  padding-bottom: 121px;
  padding-right: 165px;
  gap: 45px;
}
.content__info {
  padding-top: 290px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 45px;
}
.content__info__title {
  max-width: 525px;
  font-size: 50px;
  line-height: 55px;
  letter-spacing: -0.52px;
  font-weight: 700;
  margin-bottom: 11px;
}
.content__info__text {
  max-width: 525px;
  font-size: 16px;
  line-height: 26px;
}

.content__form {
  width: 100%;
  max-width: 540px;
  padding-top: 205px;
  border-radius: 10px;
}
.content__form__top {
  padding-left: 112px;
  padding-top: 17px;
  background-color: #5e54a4;
  width: 100%;
  max-width: 540px;
  height: 60px;
  border-radius: 10px;
  margin-bottom: 24px;
}

.content__form__top__text {
  font-weight: 700;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0.27px;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
}

.input {
  width: 460px;
  height: 56px;
  padding-left: 32px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.25px;
  color: #3d3b48;
  opacity: 0.75;
  border-radius: 5px;
  border: 1px solid #5e54a4;
  margin-bottom: 20px;
}

.input:focus {
}

.input::placeholder {
}

.content__form__btn {
  background-color: #38cc8b;
  width: 460px;
  height: 56px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 1px;
  color: #ffffff;
  margin-bottom: 8px;
}
.content__form__text {
  font-size: 11px;
  line-height: 26px;
  font-weight: 500;
  color: #bab7d4;
}
.content__form__link {
  color: #ff7979;
  font-size: 12px;
}
