/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v22-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v22-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/poppins-v22-latin-500italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v22-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v22-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

html {
  height: 100%;
}

h1 {
  margin: 0;
}

img {
  display: flex;
  object-fit: cover;
}

a {
  text-decoration: none;
  display: inline;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100%;
  width: 1440px;
  height: 800px;
  color: #ffff;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  background-image: url(../images/main-bg.svg);
  background-color: #ff7979;
}

.container {
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content__info {
  width: 525px;
  display: flex;
  flex-direction: column;
  padding-left: 165px;
  padding-top: 290px;
  padding-bottom: 290px;
}
.content__info__title {
  font-size: 50px;
  line-height: 55px;
  letter-spacing: -0.52px;
  font-weight: 700;
  margin-bottom: 11px;
}
.content__info__text {
  font-size: 16px;

  line-height: 26px;
}

.content__form {
  width: 540px;
}
